{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["react", "jest", "simple-import-sort"],
  "root": true,
  "rules": {
    "comma-spacing": "error",
    "key-spacing": "error",
    "keyword-spacing": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "object-curly-spacing":  ["error", "always"],
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "rest-spread-spacing": ["error", "always"],
    "semi": ["error", "always"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": "error"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.11.0"
    },
    "propWrapperFunctions": ["forbidExtraProps"]
  }
}
