.welcome-splash {
  @include phone {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }
  @include desktop {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .get-started {
    font-size: 18px;
    text-align: center;
  }

  .react-logo {
    width: 150px;

    @include phone {
      width: 75px;
    }
  }
}
